.cmr-navigation:before, .cmr-navigation:after {
  content: '';
  display: table; }

.cmr-navigation:after {
  clear: both; }

.cmr-navigation {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box; }
  .cmr-navigation-item {
    cursor: pointer;
    transition: .25s;
    color: #fff; }
    .cmr-navigation-item:hover {
      color: #04d8b5; }
    .cmr-navigation-item-active {
      color: #04d8b5; }
      .cmr-navigation-item-active:hover {
        color: #04d8b5; }
    .cmr-navigation-item-disabled {
      cursor: not-allowed;
      color: #9b9a9a; }
      .cmr-navigation-item-disabled:hover {
        color: #9b9a9a; }
    .cmr-navigation-item-group-title {
      font-size: 12px;
      color: #fff;
      text-align: left;
      padding-left: 8px; }
    .cmr-navigation-item-group:first-of-type {
      padding-top: 12px; }
    .cmr-navigation-item .cmr-icon {
      margin-right: 8px; }
  .cmr-navigation-subnav {
    position: relative; }
    .cmr-navigation-subnav-title {
      cursor: pointer;
      color: #fff;
      transition: .25s; }
      .cmr-navigation-subnav-title:hover {
        color: #04d8b5; }
      .cmr-navigation-subnav-title-active {
        border-color: #04d8b5; }
      .cmr-navigation-subnav-title .cmr-icon {
        margin-right: 8px; }
    .cmr-navigation-subnav-disabled .cmr-navigation-subnav-title {
      cursor: not-allowed;
      color: #9b9a9a; }
  .cmr-navigation-menu {
    background-color: rgba(0, 0, 0, 0.78);
    overflow: hidden;
    min-width: 100%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 4px;
    font-size: 14px; }
    .cmr-navigation-menu .cmr-navigation-item {
      padding: 8px 12px; }
  .cmr-navigation-horizontal {
    border-bottom: 1px solid #a6a6a6;
    padding-left: 54px; }
    .cmr-navigation-horizontal .cmr-navigation-item {
      padding: 0 24px;
      float: left;
      line-height: 54px;
      height: 54px;
      text-align: center;
      box-sizing: border-box;
      border-bottom: 2px solid transparent; }
      .cmr-navigation-horizontal .cmr-navigation-item:hover {
        border-color: #04d8b5; }
      .cmr-navigation-horizontal .cmr-navigation-item-active {
        border-color: #04d8b5; }
      .cmr-navigation-horizontal .cmr-navigation-item-disabled {
        border-color: transparent; }
        .cmr-navigation-horizontal .cmr-navigation-item-disabled:hover {
          border-color: transparent; }
    .cmr-navigation-horizontal .cmr-navigation-subnav {
      float: left; }
      .cmr-navigation-horizontal .cmr-navigation-subnav-title {
        padding: 0 12px;
        text-align: center;
        line-height: 54px;
        height: 54px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent; }
      .cmr-navigation-horizontal .cmr-navigation-subnav-active .cmr-navigation-subnav-title, .cmr-navigation-horizontal .cmr-navigation-subnav-open .cmr-navigation-subnav-title {
        color: #04d8b5;
        border-color: #04d8b5; }
      .cmr-navigation-horizontal .cmr-navigation-subnav-title:hover {
        color: #04d8b5;
        border-color: #04d8b5; }
      .cmr-navigation-horizontal .cmr-navigation-subnav-disabled .cmr-navigation-subnav-title {
        color: #9b9a9a;
        border-bottom: transparent; }
        .cmr-navigation-horizontal .cmr-navigation-subnav-disabled .cmr-navigation-subnav-title:hover {
          border-bottom: transparent; }
      .cmr-navigation-horizontal .cmr-navigation-subnav .cmr-navigation-item {
        padding: 12px;
        float: none;
        height: auto;
        line-height: 1; }
        .cmr-navigation-horizontal .cmr-navigation-subnav .cmr-navigation-item:hover {
          background-color: #04d8b5; }
        .cmr-navigation-horizontal .cmr-navigation-subnav .cmr-navigation-item-active {
          border-color: transparent; }
      .cmr-navigation-horizontal .cmr-navigation-subnav .cmr-navigation-menu {
        position: absolute;
        z-index: 1000; }
  .cmr-navigation-vertical .cmr-navigation-item {
    padding: 12px; }
  .cmr-navigation-vertical .cmr-navigation-subnav-title {
    padding: 12px; }
  .cmr-navigation-vertical .cmr-navigation-menu {
    margin: 0;
    box-sizing: border-box;
    padding-left: 12px;
    border-radius: 0;
    box-shadow: none; }
  .cmr-navigation .cmr-form {
    margin: 0;
    margin-top: 12px; }
    .cmr-navigation .cmr-form-field {
      margin-bottom: 0; }
  .cmr-navigation-arrow {
    padding: 0 4px;
    transition: .25s transform;
    display: inline-block;
    transform-origin: 50% 50%;
    text-align: center; }
    .cmr-navigation-arrow .cmr-icon {
      margin-right: 0; }
    .cmr-navigation-arrow-active {
      transform: rotate(180deg); }
