{
    "presets":[
        "env", 
        "react"
    ],
    "plugins":[
        "transform-runtime",
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "transform-class-properties",
        "lodash"
    ]
}
