@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 414756 */
  src: url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.eot");
  src: url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.woff") format("woff"), url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.ttf") format("truetype"), url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.svg#iconfont") format("svg"); }

@keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.cmr-icon {
  line-height: 1;
  font-style: normal; }
  .cmr-icon-mail:before {
    content: "\E6DF";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-edit:before {
    content: "\E60E";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-search:before {
    content: "\E603";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-time:before {
    content: "\E708";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-calendar:before {
    content: "\E613";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-user:before {
    content: "\E90E";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-trash:before {
    content: "\E620";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-bars:before {
    content: "\E60D";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-plus:before {
    content: "\E60F";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-minus:before {
    content: "\E862";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-success:before {
    content: "\E62A";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-warning:before {
    content: "\E6BA";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-error:before {
    content: "\E693";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-loading:before {
    content: "\EB0F";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-loading:before {
    display: inline-block;
    animation: rotating 1s linear infinite; }
  .cmr-icon-lock:before {
    content: "\E6D2";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-eye:before {
    content: "\E637";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-left:before {
    content: "\E62B";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-right:before {
    content: "\E611";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-up:before {
    content: "\E600";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-down:before {
    content: "\E604";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-double-arrow-left:before {
    content: "\E610";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-double-arrow-right:before {
    content: "\E612";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-share:before {
    content: "\E602";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-setting:before {
    content: "\E649";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-more:before {
    content: "\E609";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-star-on:before {
    content: "\E605";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-star-off:before {
    content: "\E60C";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-location:before {
    content: "\E629";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-picture:before {
    content: "\E68A";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-caret-up:before {
    content: "\E631";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-caret-down:before {
    content: "\E62F";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-close:before {
    content: "\E63C";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-correct:before {
    content: "\E652";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-sort:before {
    content: "\E630";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-filter:before {
    content: "\E74D";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-upload:before {
    content: "\E96A";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-download:before {
    content: "\E8C3";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-document:before {
    content: "\EABC";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-math:before {
    content: "\E670";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.cmr-loading-spin {
  width: 100%;
  text-align: center; }
  .cmr-loading-spin-dot {
    display: inline-block;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background: #1b98f3;
    animation: bounce 1.3s infinite both ease-in-out; }
    .cmr-loading-spin-dot:nth-of-type(1) {
      animation-delay: -.36s; }
    .cmr-loading-spin-dot:nth-of-type(2) {
      animation-delay: -.18s;
      margin: 0 12px; }

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }
