.cmr-notification {
  position: relative; }

.cmr-notice {
  color: #fff;
  transition: top .35s;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  padding: 14px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  width: 320px;
  display: flex; }
  .cmr-notice-title {
    font-size: 16px; }
  .cmr-notice-close {
    cursor: pointer;
    position: fixed;
    right: 12px;
    top: 12px;
    color: #fff;
    transition: color .25s; }
    .cmr-notice-close:hover {
      color: #04d8b5; }
  .cmr-notice-icon {
    flex: 1; }
    .cmr-notice-icon .cmr-icon {
      font-size: 36px; }
  .cmr-notice-body {
    flex: 4; }
  .cmr-notice-success .cmr-notice-icon {
    color: #20b96d; }
  .cmr-notice-info .cmr-notice-icon {
    color: #22ccc2; }
  .cmr-notice-warning .cmr-notice-icon {
    color: #fac525; }
  .cmr-notice-error .cmr-notice-icon {
    color: #f05a5a; }

.slide-enter {
  transform: translateX(100%); }

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: transform 350ms ease-out; }

.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }
