.cmr-button {
  transition: .25s;
  text-align: center;
  border: 1px solid;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  vertical-align: middle; }
  .cmr-button:focus {
    outline: none; }
  .cmr-button-primary {
    background-color: #1b98f3;
    color: #fff;
    border-color: #0b7dd0; }
    .cmr-button-primary:hover {
      background: #38a5f5; }
    .cmr-button-primary:active {
      background: #0c89e3; }
    .cmr-button-primary.cmr-button-loading {
      cursor: default;
      background: #7cc4f8;
      border-color: #69bbf7; }
  .cmr-button-success {
    background-color: #20b96d;
    color: #fff;
    border-color: #188e53; }
    .cmr-button-success:hover {
      background: #25d37c; }
    .cmr-button-success:active {
      background: #1b9f5e; }
    .cmr-button-success.cmr-button-loading {
      cursor: default;
      background: #5ce3a0;
      border-color: #4be096; }
  .cmr-button-info {
    background-color: #22ccc2;
    color: #fff;
    border-color: #1ba098; }
    .cmr-button-info:hover {
      background: #30ddd2; }
    .cmr-button-info:active {
      background: #1eb2a9; }
    .cmr-button-info.cmr-button-loading {
      cursor: default;
      background: #6de7e0;
      border-color: #5ce4dc; }
  .cmr-button-warning {
    background-color: #fac525;
    color: #fff;
    border-color: #e7af05; }
    .cmr-button-warning:hover {
      background: #fbcd43; }
    .cmr-button-warning:active {
      background: #f9bd07; }
    .cmr-button-warning.cmr-button-loading {
      cursor: default;
      background: #fce089;
      border-color: #fcda75; }
  .cmr-button-error {
    background-color: #f05a5a;
    color: #fff;
    border-color: #ec2b2b; }
    .cmr-button-error:hover {
      background: #f37676; }
    .cmr-button-error:active {
      background: #ed3e3e; }
    .cmr-button-error.cmr-button-loading {
      cursor: default;
      background: #f9b8b8;
      border-color: #f7a5a5; }
  .cmr-button-default {
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-color: #a6a6a6; }
    .cmr-button-default:hover {
      background: rgba(0, 0, 0, 0.35); }
    .cmr-button-default:active {
      background: rgba(0, 0, 0, 0.35); }
    .cmr-button-default.cmr-button-loading {
      cursor: default;
      background: rgba(51, 51, 51, 0);
      border-color: rgba(41, 41, 41, 0); }
    .cmr-button-default.cmr-button-loading {
      background: transparent;
      border-color: #a6a6a6; }
  .cmr-button-disabled {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.6);
    color: #9b9a9a;
    border-color: rgba(230, 230, 230, 0.6);
    border-color: #9b9a9a; }
    .cmr-button-disabled:hover {
      background: rgba(255, 255, 255, 0.6); }
    .cmr-button-disabled:active {
      background: rgba(255, 255, 255, 0.6); }
    .cmr-button-disabled.cmr-button-loading {
      cursor: default;
      background: rgba(255, 255, 255, 0.6);
      border-color: rgba(255, 255, 255, 0.6); }
  .cmr-button-large {
    font-size: 14px;
    padding: 0 16px;
    border-radius: 8px;
    height: 36px;
    line-height: 36px; }
  .cmr-button-small {
    font-size: 12px;
    padding: 0 12px;
    border-radius: 4px;
    height: 28px;
    line-height: 28px; }
  .cmr-button-middle {
    font-size: 14px;
    padding: 0 14px;
    border-radius: 6px;
    height: 32px;
    line-height: 32px; }
  .cmr-button-link {
    border: none;
    background: transparent;
    padding: 0;
    height: auto; }
    .cmr-button-link.cmr-button-default {
      color: #d0d0d0; }
      .cmr-button-link.cmr-button-default:hover {
        color: #dfdfdf;
        background: none; }
      .cmr-button-link.cmr-button-default:active {
        color: #dfdfdf;
        background: none; }
    .cmr-button-link.cmr-button-primary {
      color: #1b98f3; }
      .cmr-button-link.cmr-button-primary:hover {
        color: #38a5f5;
        background: none; }
      .cmr-button-link.cmr-button-primary:active {
        color: #38a5f5;
        background: none; }
    .cmr-button-link.cmr-button-success {
      color: #20b96d; }
      .cmr-button-link.cmr-button-success:hover {
        color: #25d37c;
        background: none; }
      .cmr-button-link.cmr-button-success:active {
        color: #25d37c;
        background: none; }
    .cmr-button-link.cmr-button-error {
      color: #f05a5a; }
      .cmr-button-link.cmr-button-error:hover {
        color: #f37676;
        background: none; }
      .cmr-button-link.cmr-button-error:active {
        color: #f37676;
        background: none; }
    .cmr-button-link.cmr-button-warning {
      color: #fac525; }
      .cmr-button-link.cmr-button-warning:hover {
        color: #fbcd43;
        background: none; }
      .cmr-button-link.cmr-button-warning:active {
        color: #fbcd43;
        background: none; }
    .cmr-button-link.cmr-button-info {
      color: #22ccc2; }
      .cmr-button-link.cmr-button-info:hover {
        color: #30ddd2;
        background: none; }
      .cmr-button-link.cmr-button-info:active {
        color: #30ddd2;
        background: none; }
    .cmr-button-link.cmr-button-disabled {
      color: #9b9a9a; }
      .cmr-button-link.cmr-button-disabled:hover {
        color: #9b9a9a;
        background: none; }
      .cmr-button-link.cmr-button-disabled:active {
        color: #9b9a9a;
        background: none; }
  .cmr-button-group {
    display: inline-block; }
    .cmr-button-group .cmr-button-first {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .cmr-button-group .cmr-button-last {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .cmr-button-group .cmr-button-continuous {
      border-radius: 0; }
  .cmr-button .cmr-icon {
    margin-right: 2px; }
