.demo-tooltip-grid{
    .cmr-col{
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
        white-space: nowrap;
    }
}
.demo-tooltip-group{
    .cmr-button{
        margin-right: 12px;
    }
}