.cmr-uploader-list-gallery:before, .cmr-uploader-list-gallery:after {
  content: '';
  display: table; }

.cmr-uploader-list-gallery:after {
  clear: both; }

.cmr-uploader-list-item-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cmr-uploader-gallery {
  display: inline-block;
  vertical-align: top; }

.cmr-uploader-input {
  display: none; }

.cmr-uploader-iframe {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 99999;
  height: 0;
  width: 0;
  left: 0;
  top: 0; }

.cmr-uploader-form {
  padding: 0;
  margin: 0; }

.cmr-uploader-list {
  color: #fff;
  transition: .25s;
  font-size: 14px; }
  .cmr-uploader-list-item {
    position: relative;
    padding: 6px 12px;
    box-sizing: border-box;
    line-height: 1.2; }
    .cmr-uploader-list-item-begin {
      color: #fff; }
    .cmr-uploader-list-item-processing {
      color: #1b98f3; }
    .cmr-uploader-list-item-success {
      color: #20b96d; }
    .cmr-uploader-list-item-error {
      color: #f05a5a; }
    .cmr-uploader-list-item-mask {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      background: rgba(0, 0, 0, 0.6);
      transition: .25s opacity ease-out; }
    .cmr-uploader-list-item-control {
      height: 18px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      color: #fff; }
    .cmr-uploader-list-item-active .cmr-uploader-list-item-mask {
      opacity: 1; }
    .cmr-uploader-list-item-preview, .cmr-uploader-list-item-delete {
      display: inline-block;
      line-height: 18px;
      cursor: pointer;
      font-size: 16px;
      margin: 0 6px;
      vertical-align: bottom;
      transition: .25s color; }
      .cmr-uploader-list-item-preview:hover, .cmr-uploader-list-item-delete:hover {
        color: #04d8b5; }
    .cmr-uploader-list-item-close {
      cursor: pointer;
      float: right;
      margin-top: 2px;
      transition: .25s color; }
      .cmr-uploader-list-item-close:hover {
        color: #04d8b5; }
  .cmr-uploader-list-text {
    margin-top: 12px; }
    .cmr-uploader-list-text .cmr-uploader-list-item {
      transition: .25s background; }
      .cmr-uploader-list-text .cmr-uploader-list-item:hover {
        background: rgba(0, 0, 0, 0.16); }
  .cmr-uploader-list-image {
    margin-top: 12px; }
    .cmr-uploader-list-image .cmr-uploader-list-item {
      border: 1px solid #d0d0d0;
      border-radius: 6px; }
      .cmr-uploader-list-image .cmr-uploader-list-item:not(:last-of-type) {
        margin-bottom: 12px; }
      .cmr-uploader-list-image .cmr-uploader-list-item-thumbnail {
        height: 54px;
        width: 54px;
        font-size: 36px;
        display: inline-block;
        vertical-align: middle; }
        .cmr-uploader-list-image .cmr-uploader-list-item-thumbnail img {
          width: 100%;
          height: 100%; }
      .cmr-uploader-list-image .cmr-uploader-list-item-content {
        display: inline-block;
        line-height: 54px;
        font-size: 14px;
        width: 100%;
        padding-left: 60px;
        box-sizing: border-box;
        margin-left: -54px;
        vertical-align: middle; }
  .cmr-uploader-list-gallery {
    display: inline-block;
    vertical-align: top; }
    .cmr-uploader-list-gallery .cmr-uploader-list-item {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 12px;
      margin-bottom: 12px;
      border-radius: 6px;
      padding: 0;
      overflow: hidden;
      border: 1px dashed #fff; }
      .cmr-uploader-list-gallery .cmr-uploader-list-item-loaded {
        border-style: solid; }
      .cmr-uploader-list-gallery .cmr-uploader-list-item-thumbnail {
        height: 100%;
        width: 100%; }

.cmr-uploader-picker {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px dashed #fff;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  text-align: center; }
  .cmr-uploader-picker .cmr-icon {
    line-height: 100px; }

.cmr-uploader-close {
  cursor: pointer;
  font-size: 12px; }
