@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 414756 */
  src: url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.eot");
  src: url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.woff") format("woff"), url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.ttf") format("truetype"), url("//at.alicdn.com/t/font_414756_3a8bdydo1j8dj9k9.svg#iconfont") format("svg"); }

@keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.cmr-icon {
  line-height: 1;
  font-style: normal; }
  .cmr-icon-mail:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-edit:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-search:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-time:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-calendar:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-user:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-trash:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-bars:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-plus:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-minus:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-success:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-warning:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-error:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-loading:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-loading:before {
    display: inline-block;
    animation: rotating 1s linear infinite; }
  .cmr-icon-lock:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-eye:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-left:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-right:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-up:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-arrow-down:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-double-arrow-left:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-double-arrow-right:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-share:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-setting:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-more:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-star-on:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-star-off:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-location:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-picture:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-caret-up:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-caret-down:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-close:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-correct:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-sort:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-filter:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-upload:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-download:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-document:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cmr-icon-math:before {
    content: "";
    font-family: "iconfont";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
