.cmr-step {
  position: relative;
  color: #d0d0d0; }
  .cmr-step .cmr-step-icon-circle {
    background: #d0d0d0; }
  .cmr-step-processing {
    color: #1b98f3; }
    .cmr-step-processing .cmr-step-icon-circle {
      background: #1b98f3; }
  .cmr-step-success {
    color: #20b96d; }
    .cmr-step-success .cmr-step-icon-circle {
      background: #20b96d; }
  .cmr-step-error {
    color: #f05a5a; }
    .cmr-step-error .cmr-step-icon-circle {
      background: #f05a5a; }
  .cmr-step-icon {
    vertical-align: top;
    display: inline-block;
    margin-right: 8px; }
    .cmr-step-icon .cmr-icon {
      font-size: 24px; }
    .cmr-step-icon-circle {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      display: inline-block;
      background: #d0d0d0;
      font-size: 14px;
      margin: 0 auto;
      color: #fff; }
  .cmr-step-body {
    display: inline-block; }
  .cmr-step-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; }
  .cmr-step-description {
    font-size: 12px;
    margin: 0; }
  .cmr-step-line {
    position: absolute;
    box-sizing: border-box; }
    .cmr-step-line-inner {
      background: #d0d0d0; }
      .cmr-step-line-inner::after {
        content: '';
        display: block;
        transition: .5s ease-out; }

.cmr-steps-horizontal .cmr-step {
  display: inline-block; }

.cmr-steps-horizontal .cmr-step-line {
  width: 100%;
  left: 0;
  top: 14px;
  height: 1px; }
  .cmr-steps-horizontal .cmr-step-line-inner {
    height: 100%;
    margin: 0 8px; }
    .cmr-steps-horizontal .cmr-step-line-inner::after {
      height: 100%;
      width: 0; }
  .cmr-steps-horizontal .cmr-step-line-processing .cmr-step-line-inner::after {
    width: 100%;
    background: #1b98f3; }
  .cmr-steps-horizontal .cmr-step-line-error .cmr-step-line-inner::after {
    width: 100%;
    background: #f05a5a; }
  .cmr-steps-horizontal .cmr-step-line-success .cmr-step-line-inner::after {
    width: 100%;
    background: #20b96d; }

.cmr-steps-vertical .cmr-step {
  display: block; }

.cmr-steps-vertical .cmr-step-line {
  top: 0;
  height: 100%;
  width: 100%; }
  .cmr-steps-vertical .cmr-step-line-inner {
    width: 1px; }
    .cmr-steps-vertical .cmr-step-line-inner::after {
      width: 100%;
      height: 100%; }
  .cmr-steps-vertical .cmr-step-line-processing .cmr-step-line-inner::after {
    height: 100%;
    background: #1b98f3; }
  .cmr-steps-vertical .cmr-step-line-error .cmr-step-line-inner::after {
    height: 100%;
    background: #f05a5a; }
  .cmr-steps-vertical .cmr-step-line-success .cmr-step-line-inner::after {
    height: 100%;
    background: #20b96d; }
