.cmr-demo{
    &-overview{
        color: #fff;
        font-size: 14px;
        pre{
            padding: 16px 0;
            background: rgba(#000, .15);
            line-height: 1.75;
        }
        code{
            font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;;            
        }
    }
}