.cmr-table-menu-item:before, .cmr-table-menu-item:after {
  content: '';
  display: table; }

.cmr-table-menu-item:after {
  clear: both; }

.cmr-table {
  font-size: 14px;
  width: 100%;
  font-size: 14px;
  position: relative;
  overflow: auto; }
  .cmr-table-header {
    position: relative;
    color: #fff;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0; }
    .cmr-table-header-cell {
      background: rgba(0, 0, 0, 0.45);
      padding: 0 8px;
      position: relative; }
      .cmr-table-header-cell-label {
        padding: 8px 0;
        height: 100%; }
      .cmr-table-header-cell-resize {
        position: absolute;
        width: 8px;
        right: 0;
        top: 0;
        height: 100%; }
        .cmr-table-header-cell-resize:hover {
          cursor: col-resize; }
      .cmr-table-header-cell-selectable {
        text-align: center; }
  .cmr-table-body {
    color: #fff;
    margin-top: -1px;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0; }
    .cmr-table-body-cell {
      position: relative;
      padding: 8px 0; }
      .cmr-table-body-cell-value {
        word-break: break-all;
        padding: 0 8px; }
      .cmr-table-body-cell-selectable {
        text-align: center; }
      .cmr-table-body-cell-expandable {
        text-align: center; }
      .cmr-table-body-cell-none {
        text-align: center; }
    .cmr-table-body-wrapper {
      overflow: auto; }
  .cmr-table-row {
    background: rgba(0, 0, 0, 0.22);
    transition: background .25s; }
    .cmr-table-row-expanded {
      background: rgba(0, 0, 0, 0.18);
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15); }
    .cmr-table-row-highlight {
      background: rgba(0, 0, 0, 0.28); }
  .cmr-table-bordered .cmr-table-header {
    border-spacing: 1px;
    border-collapse: separate; }
  .cmr-table-bordered .cmr-table-body {
    border-spacing: 1px;
    border-collapse: separate; }
  .cmr-table-striped .cmr-table-row-even {
    background: rgba(0, 0, 0, 0.3); }
  .cmr-table-fixed {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 15px;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.65);
    overflow: hidden; }
    .cmr-table-fixed-left {
      left: 0;
      box-shadow: 2px 0 8px rgba(0, 0, 0, 0.25); }
    .cmr-table-fixed-right {
      right: 0;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.25); }
  .cmr-table-dragger {
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.45);
    left: 43%;
    top: 0;
    width: 1px;
    visibility: hidden; }
  .cmr-table-sort-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 1; }
    .cmr-table-sort-icon-highlight {
      color: #04d8b5; }
    .cmr-table-sort-icon-up, .cmr-table-sort-icon-down {
      height: 6px;
      transition: .25s color; }
      .cmr-table-sort-icon-up:hover, .cmr-table-sort-icon-down:hover {
        color: #04d8b5; }
    .cmr-table-sort-icon-up {
      margin-bottom: 1px; }
    .cmr-table-sort-icon-down {
      margin-top: 1px; }
  .cmr-table-filter-icon {
    cursor: pointer;
    transition: 0.25s color; }
    .cmr-table-filter-icon:hover {
      color: #04d8b5; }
    .cmr-table-filter-icon-active {
      color: #04d8b5; }
  .cmr-table-expand-icon {
    cursor: pointer; }
  .cmr-table-menu {
    position: relative;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.78);
    color: #fff;
    font-size: 14px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .cmr-table-menu .cmr-checkbox-mock {
      border-color: #d0d0d0; }
    .cmr-table-menu-item {
      cursor: pointer;
      padding: 6px 12px;
      transition: .25s; }
      .cmr-table-menu-item:hover {
        color: #04d8b5;
        background: rgba(0, 0, 0, 0.85); }
      .cmr-table-menu-item a {
        color: inherit; }
      .cmr-table-menu-item-left {
        float: left;
        margin-right: 8px; }
      .cmr-table-menu-item-right {
        float: right; }
