.cmr-collapse {
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  position: relative; }
  .cmr-collapse-item {
    border-top: 1px solid #a6a6a6;
    position: relative; }
    .cmr-collapse-item-icon {
      display: inline-block;
      transition: transform .25s;
      transform-origin: center center;
      margin-right: 8px; }
    .cmr-collapse-item-header {
      cursor: pointer;
      padding: 8px 12px;
      background: rgba(0, 0, 0, 0.25); }
    .cmr-collapse-item-content {
      background: rgba(0, 0, 0, 0.15);
      padding: 12px;
      display: none; }
    .cmr-collapse-item:first-of-type {
      border-top: none; }
    .cmr-collapse-item-active .cmr-collapse-item-content {
      display: block; }
    .cmr-collapse-item-active .cmr-collapse-item-icon {
      transform: rotate(90deg); }
    .cmr-collapse-item-disabled .cmr-collapse-item-header {
      cursor: not-allowed;
      background: #9b9a9a; }
  .cmr-collapse-simple {
    border: none; }
    .cmr-collapse-simple .cmr-collapse-item-header {
      background: none; }
      .cmr-collapse-simple .cmr-collapse-item-header:hover {
        background: rgba(0, 0, 0, 0.15); }
    .cmr-collapse-simple .cmr-collapse-item-content {
      background: none; }
