.demo-datepicker-list{
    .cmr-col{
        margin-bottom: 12px;
    }
    .cmr-datepicker{
        margin-bottom: 12px;
    }
}

.demo-datepicker-input{
    width: 240px;
    margin-bottom: 12px;
}

.demo-datepicker{
    width: 180px;
    margin-right: 12px;
}