.cmr-form-field:before, .cmr-form-field:after {
  content: '';
  display: table; }

.cmr-form-field:after {
  clear: both; }

.cmr-form {
  position: relative;
  margin-bottom: 16px; }
  .cmr-form-field {
    display: block;
    font-size: 14px;
    margin-bottom: 22px;
    color: #d0d0d0; }
    .cmr-form-field-required {
      color: #f05a5a; }
    .cmr-form-field-error .cmr-input-textarea, .cmr-form-field-error .cmr-input-origin, .cmr-form-field-error .cmr-select-box, .cmr-form-field-error .cmr-select-open-box {
      border-color: #f05a5a; }
      .cmr-form-field-error .cmr-input-textarea:hover, .cmr-form-field-error .cmr-input-origin:hover, .cmr-form-field-error .cmr-select-box:hover, .cmr-form-field-error .cmr-select-open-box:hover, .cmr-form-field-error .cmr-input-textarea:focused, .cmr-form-field-error .cmr-input-origin:focused, .cmr-form-field-error .cmr-select-box:focused, .cmr-form-field-error .cmr-select-open-box:focused {
        border-color: #f05a5a;
        box-shadow: 0 0 6px rgba(240, 90, 90, 0.35); }
    .cmr-form-field-error .cmr-form-feedback {
      color: #f05a5a; }
    .cmr-form-field-success .cmr-input-textarea, .cmr-form-field-success .cmr-input-origin, .cmr-form-field-success .cmr-select-box, .cmr-form-field-success .cmr-select-open-box {
      border-color: #20b96d; }
      .cmr-form-field-success .cmr-input-textarea:hover, .cmr-form-field-success .cmr-input-origin:hover, .cmr-form-field-success .cmr-select-box:hover, .cmr-form-field-success .cmr-select-open-box:hover, .cmr-form-field-success .cmr-input-textarea:focused, .cmr-form-field-success .cmr-input-origin:focused, .cmr-form-field-success .cmr-select-box:focused, .cmr-form-field-success .cmr-select-open-box:focused {
        border-color: #20b96d;
        box-shadow: 0 0 6px rgba(32, 185, 109, 0.35); }
    .cmr-form-field-success .cmr-form-feedback {
      color: #20b96d; }
    .cmr-form-field-warning .cmr-input-textarea, .cmr-form-field-warning .cmr-input-origin, .cmr-form-field-warning .cmr-select-box, .cmr-form-field-warning .cmr-select-open-box {
      border-color: #fac525; }
      .cmr-form-field-warning .cmr-input-textarea:hover, .cmr-form-field-warning .cmr-input-origin:hover, .cmr-form-field-warning .cmr-select-box:hover, .cmr-form-field-warning .cmr-select-open-box:hover, .cmr-form-field-warning .cmr-input-textarea:focused, .cmr-form-field-warning .cmr-input-origin:focused, .cmr-form-field-warning .cmr-select-box:focused, .cmr-form-field-warning .cmr-select-open-box:focused {
        border-color: #fac525;
        box-shadow: 0 0 6px rgba(250, 197, 37, 0.35); }
    .cmr-form-field-warning .cmr-form-feedback {
      color: #fac525; }
  .cmr-form-label {
    vertical-align: middle;
    line-height: 32px;
    padding-right: 14px;
    font-size: 14px;
    box-sizing: border-box;
    float: left; }
  .cmr-form-control {
    position: relative;
    line-height: 32px; }
  .cmr-form-inline {
    display: inline-block; }
    .cmr-form-inline .cmr-form-field {
      display: inline-block;
      margin-right: 14px; }
      .cmr-form-inline .cmr-form-field:last-of-type {
        margin-right: 0; }
  .cmr-form-vertical .cmr-form-label {
    display: block;
    float: none; }
  .cmr-form-vertical .cmr-form-control {
    display: block; }
  .cmr-form-feedback {
    position: absolute;
    line-height: 1;
    font-size: 12px;
    margin-top: 4px; }
  .cmr-form-extra {
    font-size: 12px;
    line-height: 1;
    margin-top: 4px; }
