.cmr-panel-header:before, .cmr-panel-header:after {
  content: '';
  display: table; }

.cmr-panel-header:after {
  clear: both; }

.cmr-panel {
  width: 100%;
  color: #d0d0d0;
  transition: .35s box-shadow;
  border-radius: 4px;
  overflow: hidden;
  font-size: 14px; }
  .cmr-panel:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25); }
  .cmr-panel-full .cmr-panel-body {
    padding: 0; }
  .cmr-panel-header {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.28);
    line-height: 36px;
    padding: 0 12px; }
  .cmr-panel-append {
    float: right; }
    .cmr-panel-append .cmr-icon {
      line-height: inherit; }
  .cmr-panel-title {
    float: left;
    font-size: 16px;
    font-weight: 500; }
  .cmr-panel-body {
    background-color: rgba(0, 0, 0, 0.36);
    padding: 12px; }
  .cmr-panel-footer {
    padding: 12px;
    background: rgba(0, 0, 0, 0.32); }
