$cyan: #04d8b5;
$carbon: #2b2f42;
$skyblue: #1b98f3;
$red: #f05a5a;
$orange: #ff855d;
$lightblue: #22ccc2;
$purple: #a483ee;
$gold: #fac525;
$inverse: #000;
$default: #fff;
$font: #757575;
$title: #d0d0d0;

$highlight: #04d8b5;
$primary: #1b98f3;
$error: #f05a5a;
$info: #22ccc2;
$warning: #fac525;
$success: #20b96d;
$disabled: #9b9a9a;
$boundary: #a6a6a6;
$text-primary: #d0d0d0;
$text-secondary: #d5d5d5;
$control-background: rgba($inverse, .25);
$popover-background-primary: rgba($inverse, .78);
$popover-background-secondary: rgba($inverse, .85);
$popover-shadow: rgba($inverse, .25);


//form
$form-font: $title;
$form-field-error: $error;
$form-field-warn: $warning;
$form-field-success: $success;


