@keyframes blink {
  0% {
    transform: scale(0.75);
    opacity: .6; }
  100% {
    transform: scale(2.25);
    opacity: 0; } }

.cmr-badge {
  display: inline-block;
  position: relative; }
  .cmr-badge-symbol {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    text-align: center;
    min-width: 18px;
    border-radius: 10px;
    color: #fff;
    transform: translate(50%, -50%);
    font-size: 12px;
    white-space: nowrap;
    box-sizing: border-box; }
    .cmr-badge-symbol-dot {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      min-width: 10px;
      padding: 0; }
  .cmr-badge-primary .cmr-badge-symbol {
    background: #1b98f3; }
    .cmr-badge-primary .cmr-badge-symbol-blink:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid #1b98f3;
      animation: blink 1.25s infinite backwards ease-out; }
  .cmr-badge-success .cmr-badge-symbol {
    background: #20b96d; }
    .cmr-badge-success .cmr-badge-symbol-blink:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid #20b96d;
      animation: blink 1.25s infinite backwards ease-out; }
  .cmr-badge-info .cmr-badge-symbol {
    background: #22ccc2; }
    .cmr-badge-info .cmr-badge-symbol-blink:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid #22ccc2;
      animation: blink 1.25s infinite backwards ease-out; }
  .cmr-badge-error .cmr-badge-symbol {
    background: #f05a5a; }
    .cmr-badge-error .cmr-badge-symbol-blink:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid #f05a5a;
      animation: blink 1.25s infinite backwards ease-out; }
  .cmr-badge-default .cmr-badge-symbol {
    background: #000; }
    .cmr-badge-default .cmr-badge-symbol-blink:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid #000;
      animation: blink 1.25s infinite backwards ease-out; }
  .cmr-badge-warning .cmr-badge-symbol {
    background: #fac525; }
    .cmr-badge-warning .cmr-badge-symbol-blink:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid #fac525;
      animation: blink 1.25s infinite backwards ease-out; }
