.cmr-toggle:before, .cmr-toggle:after {
  content: '';
  display: table; }

.cmr-toggle:after {
  clear: both; }

.cmr-toggle {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  .cmr-toggle-outer {
    position: relative;
    box-sizing: border-box;
    min-width: 42px; }
  .cmr-toggle-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%; }
  .cmr-toggle-on .cmr-toggle-inner {
    background: #04d8b5; }
  .cmr-toggle-off .cmr-toggle-inner {
    background: rgba(0, 0, 0, 0.25); }
  .cmr-toggle-inner {
    height: 20px;
    line-height: 20px;
    border: 1px solid #a6a6a6;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px; }
  .cmr-toggle-slider {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: transform .25s;
    top: 50%;
    transform: translate(2px, -50%); }
  .cmr-toggle-text {
    color: #fff;
    font-size: 12px;
    position: absolute;
    height: 100%; }
    .cmr-toggle-text-off {
      left: 4px; }
    .cmr-toggle-text-on {
      right: 4px; }
  .cmr-toggle-disabled {
    cursor: not-allowed; }
    .cmr-toggle-disabled .cmr-toggle-inner {
      background: #9b9a9a; }
  .cmr-toggle .cmr-icon {
    line-height: 20px; }
