.cmr-input {
  display: inline-block;
  vertical-align: middle;
  color: #d0d0d0;
  border-radius: 4px;
  width: 100%; }
  .cmr-input-origin {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.25);
    color: #d0d0d0;
    padding-left: 14px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    transition: .25s border-color; }
    .cmr-input-origin::-webkit-input-placeholder, .cmr-input-origin::-moz-placeholder, .cmr-input-origin::-ms-input-placeholder {
      color: #d0d0d0; }
    .cmr-input-origin:hover, .cmr-input-origin:focus {
      outline: none; }
  .cmr-input-textarea {
    height: auto;
    line-height: 1.2;
    font-size: 14px;
    padding: 8px 8px 8px 12px;
    width: 100%; }
  .cmr-input-addon {
    display: inline-table;
    border-collapse: separate;
    border-spacing: 1px; }
    .cmr-input-addon .cmr-input-origin {
      display: table-cell; }
    .cmr-input-addon .cmr-select-box {
      background: transparent; }
    .cmr-input-addon-before, .cmr-input-addon-after {
      display: table-cell;
      text-align: center;
      font-size: 14px;
      color: #d0d0d0;
      background: rgba(0, 0, 0, 0.25);
      vertical-align: middle;
      padding: 0 6px; }
    .cmr-input-addon-before {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
      .cmr-input-addon-before-had .cmr-input-origin {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .cmr-input-addon-after {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
      .cmr-input-addon-after-had .cmr-input-origin {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
  .cmr-input-focused .cmr-input-origin,
  .cmr-input-focused .cmr-input-textarea, .cmr-input-hovered .cmr-input-origin,
  .cmr-input-hovered .cmr-input-textarea {
    border-color: #04d8b5;
    box-shadow: 0 0 6px rgba(4, 216, 181, 0.35); }
  .cmr-input-focused .cmr-input-icon-after, .cmr-input-focused .cmr-input-icon-before, .cmr-input-hovered .cmr-input-icon-after, .cmr-input-hovered .cmr-input-icon-before {
    color: #04d8b5;
    transition: color .25s; }
  .cmr-input-icon {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25); }
    .cmr-input-icon .cmr-input-origin {
      background-color: transparent;
      padding: 0 12px; }
    .cmr-input-icon-before, .cmr-input-icon-after {
      position: absolute;
      font-size: 14px;
      top: 8px; }
    .cmr-input-icon-before {
      left: 6px; }
      .cmr-input-icon-before-had .cmr-input-origin {
        padding-left: 24px; }
    .cmr-input-icon-after {
      right: 6px; }
      .cmr-input-icon-after-had .cmr-input-origin {
        padding-right: 24px; }
    .cmr-input-icon-clean {
      cursor: pointer;
      transition: 0.25s color; }
      .cmr-input-icon-clean:hover {
        color: #04d8b5; }
  .cmr-input-textarea {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid #a6a6a6;
    color: #d0d0d0;
    border-radius: 4px;
    transition: border-color .25s; }
    .cmr-input-textarea:hover, .cmr-input-textarea:focus {
      border-color: #04d8b5; }
  .cmr-input-disabled .cmr-input-origin,
  .cmr-input-disabled .cmr-input-textarea {
    cursor: not-allowed;
    background: #9b9a9a;
    border-color: #a6a6a6;
    box-shadow: none; }
  .cmr-input-disabled.cmr-input-number .cmr-input-addon-before, .cmr-input-disabled.cmr-input-number .cmr-input-addon-after {
    cursor: not-allowed;
    color: #9b9a9a; }
    .cmr-input-disabled.cmr-input-number .cmr-input-addon-before:hover, .cmr-input-disabled.cmr-input-number .cmr-input-addon-after:hover {
      color: #9b9a9a; }
  .cmr-input-large.cmr-input {
    line-height: 36px;
    height: 36px; }
  .cmr-input-large .cmr-input-icon-before, .cmr-input-large .cmr-input-icon-after {
    top: 10px;
    font-size: 18px; }
  .cmr-input-middle.cmr-input {
    line-height: 32px;
    height: 32px; }
  .cmr-input-middle .cmr-input-icon-before, .cmr-input-middle .cmr-input-icon-after {
    top: 9px;
    font-size: 16px; }
  .cmr-input-small {
    font-size: 12px; }
    .cmr-input-small.cmr-input {
      line-height: 28px;
      height: 28px; }
    .cmr-input-small .cmr-input-origin {
      font-size: 12px; }
    .cmr-input-small .cmr-input-icon-before, .cmr-input-small .cmr-input-icon-after {
      top: 8px;
      font-size: 14px; }
