@import '../../style/main/base.scss';
@import '../../style/theme/default.scss';
@import './panel.scss';
@import './table.scss';

$dp: #{$class-prefix}-datepicker;
$icon: #{$class-prefix}-icon-calendar;
.#{$dp} {
    
    &-title {
        text-align: center;
    }
    &-header {
        tr{
            box-sizing: border-box;
            border-bottom: 1px solid $default;
        }
        th {
            padding: 6px 0;
        }
    }
    &-body {
        td {
            text-align: center;
            cursor: pointer;
            width: 32px;
            height: 32px;
            &:hover {
                color: $text-primary;
                background-color: $highlight;
            }
        }
    }
    &-today {
        color: $primary;
        font-weight: bold;
    }
    &-main {
        color: $text-primary;
        width: 100%;
        font-size: 14px;
    }
    &-footer{
        text-align: center;
    }

}