.cmr-datepicker-panel-range:before, .cmr-datepicker-panel-range:after {
  content: '';
  display: table; }

.cmr-datepicker-panel-range:after {
  clear: both; }

.cmr-datepicker-panel {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.78);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 4px; }
  .cmr-datepicker-panel-range .cmr-datepicker-table {
    float: left;
    box-sizing: border-box; }
    .cmr-datepicker-panel-range .cmr-datepicker-table:first-of-type {
      padding-right: 6px;
      border-right: 1px solid #a6a6a6; }
    .cmr-datepicker-panel-range .cmr-datepicker-table:last-of-type {
      padding-left: 6px; }
  .cmr-datepicker-panel-range .cmr-datepicker-panel-control {
    width: 50%;
    display: inline-block; }
  .cmr-datepicker-panel-header {
    display: table;
    width: 100%;
    line-height: 36px;
    font-size: 14px;
    box-sizing: border-box; }
    .cmr-datepicker-panel-header-group .cmr-datepicker-panel-header {
      display: inline-table;
      width: 50%; }
  .cmr-datepicker-panel-prev-year, .cmr-datepicker-panel-prev-month, .cmr-datepicker-panel-next-year, .cmr-datepicker-panel-next-month, .cmr-datepicker-panel-year, .cmr-datepicker-panel-month {
    cursor: pointer;
    color: #d0d0d0;
    text-align: center;
    display: table-cell;
    transition: .25s color; }
    .cmr-datepicker-panel-prev-year:hover, .cmr-datepicker-panel-prev-month:hover, .cmr-datepicker-panel-next-year:hover, .cmr-datepicker-panel-next-month:hover, .cmr-datepicker-panel-year:hover, .cmr-datepicker-panel-month:hover {
      color: #04d8b5; }
  .cmr-datepicker-panel-prev-month, .cmr-datepicker-panel-prev-year, .cmr-datepicker-panel-next-month, .cmr-datepicker-panel-next-year {
    width: 10%; }
  .cmr-datepicker-panel-year, .cmr-datepicker-panel-month {
    width: 30%;
    box-sizing: border-box;
    font-weight: bolder; }
  .cmr-datepicker-panel-prev-year, .cmr-datepicker-panel-next-year {
    font-size: 12px;
    padding-bottom: 2px; }
  .cmr-datepicker-panel-year {
    padding-left: 12px; }
  .cmr-datepicker-panel-month {
    padding-right: 12px; }
  .cmr-datepicker-panel-control {
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: #d0d0d0;
    background: transparent;
    transition: color .25s;
    line-height: 28px;
    font-weight: bolder; }
    .cmr-datepicker-panel-control:hover {
      color: #04d8b5; }

.cmr-datepicker-table {
  background-color: rgba(0, 0, 0, 0.78);
  color: #fff;
  font-size: 12px; }
  .cmr-datepicker-table th {
    text-align: center; }
  .cmr-datepicker-table-date .cmr-datepicker-table-cell {
    width: 32px;
    height: 32px;
    box-sizing: border-box; }
    .cmr-datepicker-table-date .cmr-datepicker-table-cell-value {
      padding: 4px; }
  .cmr-datepicker-table-month, .cmr-datepicker-table-year {
    font-size: 14px; }
    .cmr-datepicker-table-month .cmr-datepicker-table-cell, .cmr-datepicker-table-year .cmr-datepicker-table-cell {
      padding: 12px 16px; }
      .cmr-datepicker-table-month .cmr-datepicker-table-cell-value, .cmr-datepicker-table-year .cmr-datepicker-table-cell-value {
        padding: 8px; }
  .cmr-datepicker-table-cell {
    cursor: pointer;
    text-align: center;
    transition: .25s; }
    .cmr-datepicker-table-cell:hover {
      color: #04d8b5; }
    .cmr-datepicker-table-cell-selected, .cmr-datepicker-table-cell-start, .cmr-datepicker-table-cell-end {
      color: #d0d0d0; }
      .cmr-datepicker-table-cell-selected:hover, .cmr-datepicker-table-cell-start:hover, .cmr-datepicker-table-cell-end:hover {
        color: #d0d0d0; }
      .cmr-datepicker-table-cell-selected .cmr-datepicker-table-cell-value, .cmr-datepicker-table-cell-start .cmr-datepicker-table-cell-value, .cmr-datepicker-table-cell-end .cmr-datepicker-table-cell-value {
        background-color: #04d8b5; }
    .cmr-datepicker-table-cell-inrange {
      color: #d0d0d0;
      background-color: #04d8b5; }
      .cmr-datepicker-table-cell-inrange:hover {
        color: #d0d0d0; }
    .cmr-datepicker-table-cell-past {
      color: #9b9a9a; }
      .cmr-datepicker-table-cell-past:hover {
        color: #9b9a9a; }
      .cmr-datepicker-table-cell-past .cmr-datepicker-table-cell-value {
        background-color: inherit; }
    .cmr-datepicker-table-cell-future {
      color: #9b9a9a; }
      .cmr-datepicker-table-cell-future:hover {
        color: #9b9a9a; }
      .cmr-datepicker-table-cell-future .cmr-datepicker-table-cell-value {
        background-color: inherit; }
    .cmr-datepicker-table-cell-current {
      position: relative;
      background-color: transparent;
      color: #1b98f3;
      padding: 0; }
      .cmr-datepicker-table-cell-current:hover {
        color: #1b98f3; }
      .cmr-datepicker-table-cell-current:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 0.5em solid #1b98f3;
        border-left: .5em solid transparent; }
      .cmr-datepicker-table-cell-current .cmr-datepicker-table-cell-value {
        background-color: transparent; }
    .cmr-datepicker-table-cell-disabled {
      cursor: not-allowed;
      background: #9b9a9a;
      color: #828080; }
      .cmr-datepicker-table-cell-disabled:hover {
        color: #828080; }
      .cmr-datepicker-table-cell-disabled .cmr-datepicker-table-cell-value {
        background-color: #9b9a9a; }

.cmr-datepicker-title {
  text-align: center; }

.cmr-datepicker-header tr {
  box-sizing: border-box;
  border-bottom: 1px solid #fff; }

.cmr-datepicker-header th {
  padding: 6px 0; }

.cmr-datepicker-body td {
  text-align: center;
  cursor: pointer;
  width: 32px;
  height: 32px; }
  .cmr-datepicker-body td:hover {
    color: #d0d0d0;
    background-color: #04d8b5; }

.cmr-datepicker-today {
  color: #1b98f3;
  font-weight: bold; }

.cmr-datepicker-main {
  color: #d0d0d0;
  width: 100%;
  font-size: 14px; }

.cmr-datepicker-footer {
  text-align: center; }
