.cmr-select-wrapper:before, .cmr-select-value:before, .cmr-select-wrapper:after, .cmr-select-value:after {
  content: '';
  display: table; }

.cmr-select-wrapper:after, .cmr-select-value:after {
  clear: both; }

.cmr-select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 14px; }
  .cmr-select-large.cmr-select .cmr-select-box {
    border-radius: 4px;
    min-height: 36px;
    line-height: 36px; }
  .cmr-select-large.cmr-select .cmr-select-input-tag {
    line-height: 34px; }
  .cmr-select-large.cmr-select .cmr-select-value {
    height: 36px; }
  .cmr-select-large .cmr-select-value-inner {
    border-radius: 8px;
    padding: 8px 6px; }
  .cmr-select-middle.cmr-select .cmr-select-box {
    border-radius: 4px;
    min-height: 32px;
    line-height: 32px; }
  .cmr-select-middle.cmr-select .cmr-select-input-tag {
    line-height: 30px; }
  .cmr-select-middle.cmr-select .cmr-select-value {
    height: 32px; }
  .cmr-select-middle .cmr-select-value-inner {
    border-radius: 6px;
    padding: 6px 4px; }
  .cmr-select-small {
    font-size: 12px; }
    .cmr-select-small.cmr-select .cmr-select-box {
      border-radius: 4px;
      min-height: 28px;
      line-height: 28px; }
    .cmr-select-small.cmr-select .cmr-select-input-tag {
      line-height: 26px; }
    .cmr-select-small.cmr-select .cmr-select-value {
      height: 28px; }
    .cmr-select-small .cmr-select-value-inner {
      border-radius: 4px;
      padding: 4px; }
  .cmr-select-box {
    background: rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    transition: .25s border-color; }
    .cmr-select-box:hover, .cmr-select-box:focus {
      border-color: #04d8b5;
      box-shadow: 0 0 5px rgba(4, 216, 181, 0.35); }
    .cmr-select-box:focus, .cmr-select-box[focused] {
      outline: none; }
  .cmr-select-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
    z-index: 1; }
  .cmr-select-value {
    font-size: 12px;
    color: #d0d0d0;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 0;
    box-sizing: border-box; }
    .cmr-select-value-inner {
      line-height: 1;
      display: block;
      background: rgba(255, 255, 255, 0.28); }
    .cmr-select-value:not(:last-of-type) {
      margin-right: 4px; }
    .cmr-select-value-close {
      color: #d0d0d0;
      float: right;
      margin-left: 4px;
      font-size: 12px;
      transition: color .25s; }
      .cmr-select-value-close:hover {
        color: #04d8b5; }
      .cmr-select-value-close .cmr-icon {
        line-height: inherit; }
  .cmr-select-arrow {
    float: right;
    margin-right: 4px;
    font-size: 16px;
    color: #d0d0d0;
    transition: transform .35s;
    transform-origin: center center; }
    .cmr-select-arrow .cmr-icon {
      line-height: inherit; }
  .cmr-select-open .cmr-select-arrow {
    transform: rotateZ(180deg); }
  .cmr-select-open .cmr-select-box {
    border-color: #04d8b5; }
  .cmr-select-disabled {
    cursor: not-allowed; }
    .cmr-select-disabled .cmr-select-box {
      background-color: #9b9a9a;
      border-color: #a6a6a6; }
      .cmr-select-disabled .cmr-select-box:hover, .cmr-select-disabled .cmr-select-box:focus {
        border-color: #a6a6a6;
        box-shadow: none; }
  .cmr-select-filterable .cmr-select-input {
    display: inline-block;
    z-index: 1; }
  .cmr-select-input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    padding-left: 14px;
    color: #d0d0d0; }
    .cmr-select-input:focus, .cmr-select-input[focused] {
      outline: none; }
    .cmr-select-input-tag {
      background-color: transparent;
      border: none;
      font-size: 14px;
      color: #d0d0d0;
      vertical-align: middle; }
  .cmr-select-menu {
    background-color: rgba(0, 0, 0, 0.78);
    margin-top: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    width: 100%; }
    .cmr-select-menu-wrapper {
      min-width: 100%;
      top: 100%;
      position: absolute;
      z-index: 996; }
    .cmr-select-menu .cmr-select-menu {
      margin-top: 0; }
  .cmr-select-group {
    line-height: 1; }
    .cmr-select-group-label {
      cursor: text;
      font-size: 12px;
      padding: 4px 6px;
      color: #d5d5d5; }
    .cmr-select-group .cmr-select-menu {
      position: static; }
    .cmr-select-group .cmr-select-option {
      text-indent: 12px; }
  .cmr-select-option {
    padding: 8px 12px;
    font-size: inherit;
    cursor: pointer;
    line-height: 1;
    color: #d0d0d0; }
    .cmr-select-option-hover, .cmr-select-option:hover {
      color: #04d8b5;
      background: rgba(0, 0, 0, 0.85); }
    .cmr-select-option-active {
      color: #04d8b5; }
    .cmr-select-option-disabled {
      cursor: not-allowed;
      color: #9b9a9a; }
      .cmr-select-option-disabled:hover {
        color: #9b9a9a;
        background: transparent; }
    .cmr-select-option-selected {
      color: #04d8b5; }
    .cmr-select-option-icon {
      float: right;
      font-weight: 500; }
