@import '../../style/theme/default.scss';
@import '../../style/main/base.scss';
@import '../../style/main/holder.scss';
@import '../../style/mixins/index.scss';
@import './mixin.scss';

$select: #{$class-prefix}-select;
$sizes: 'large' 'middle' 'small';

@mixin size($height, $radius, $top){
    &.#{$select}{   
        .#{$select}-box{
            border-radius: 4px;    
            min-height: $height;
            line-height: $height; 
        }  
        .#{$select}-wrapper{
            line-height: $height;
        } 
        .#{$select}-input{
            &-tag{
                line-height: $height - 2px;
            }
        }
        .#{$select}-arrow{
            top: $top;
        }
        .#{$select}-value{
            height: $height;
        }
    }
}

.#{$select} {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    
    @each $s in $sizes{
        $index: index($sizes, $s);
        $inner: #{$select}-value-inner;
        &-#{$s}{
            @include size(40 - $index * 4px, 12 - $index * 4px, 12 - $index * 2px);
            @if($s == 'small'){
                font-size: 12px;
                 .#{$inner}{
                    border-radius: 4px;            
                    padding: 4px;
                 } 
            }@else if($s == 'large'){
                .#{$inner}{
                    border-radius: 8px;
                    padding: 8px 6px;
                }
            }@else{
                .#{$inner}{
                    border-radius: 6px;
                    padding: 6px 4px;
                }
            }
        }
    }

    &-box{
        background: $control-background;
        box-sizing: border-box;
        border: 1px solid $boundary;
        transition: .25s border-color;
        &:hover,
        &:focus{
            border-color: $highlight;
            box-shadow: 0 0 5px rgba($highlight, .35);
        }
        &:focus,
        &[focused]{
            outline: none;
        }
    }

    &-wrapper {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;     
        margin: {
            left: 12px;
            right: 12px;
        }
        z-index: 1;
        @extend %clearfix;
    }

    &-value {
        font-size: 12px;
        color: $text-primary;
        display: inline-block;
        vertical-align: middle;
        padding: 4px 0;
        box-sizing: border-box;
        @extend %clearfix; 
        &-inner{
            line-height: 1;
            display: block;
            background: rgba($default, .28);   
        }  
        &:not(:last-of-type){
            margin-right: 4px;
        }
        &-close {
            color: $text-primary;
            float: right;
            margin-left: 4px;
            font-size: 12px;
            transition: color .25s;
            &:hover {
                color: $highlight;
            }
            .#{$class-prefix}-icon{
                line-height: inherit;
            }
        }
    }

    &-arrow {
        position: absolute;
        line-height: 1;
        right: 4px;
        font-size: 16px;
        color: $text-primary;
        transition: transform .35s;
        transform-origin: center center;
        .#{$class-prefix}-icon{
            line-height: inherit;
        }
        //@include triangle-generator($select-text, 4px, 6px, 'bottom');
    }
    &-open {
        .#{$select}-arrow {
            transform: rotateZ(180deg);
        }
        .#{$select}-box {
            border-color: $highlight;
        }
    }
    &-disabled {
        cursor: not-allowed;
        .#{$select}-box{
            background-color: $disabled;
            border-color: $boundary;
            &:hover,
            &:focus{
                border-color: $boundary;
                box-shadow: none;
            }
        }
    }
    &-filterable{
        .#{$select}-input{
            display: inline-block;
            z-index: 1;
        }
    }
    &-input{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: none;
        background-color: transparent;
        width: 100%;
        font-size: inherit;
        padding-left: 14px;
        color: $text-primary;
        &:focus,
        &[focused]{
            outline: none;
        }
        &-tag{
            background-color: transparent;
            border: none;
            font-size: 14px;
            color: $text-primary;
            vertical-align: middle;
            max-width: 100%;
        }
    }
    &-menu {
        display: none;
        background-color: $popover-background-primary;
        margin-top: 4px;
        box-shadow: 2px 2px 8px rgba($inverse, .25);
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        overflow-y: auto;
        &-wrapper{
            min-width: 100%;    
            top: 100%;    
            position: absolute;
            z-index: 996;    
        }
        .#{$select}-menu{
            margin-top: 0;
        }
    }
    &-group {
        line-height: 1;
        //background-color: $select-menu-bg;
        &-label {
            cursor: text;
            font-size: 12px;
            padding: 4px 6px;
            color: $text-secondary;
        }
        .#{$select}-menu{
            position: static;
        }
        .#{$select}-option{
            text-indent: 12px;
        }
    }
    &-option {
        padding: 8px 12px;
        font-size: inherit;
        cursor: pointer;
        line-height: 1;
        color: $text-primary;
        &-hover,
        &:hover{
            color: $highlight;
            background: $popover-background-secondary;
        }
        &-active{
            color: $highlight;
        }
        &-disabled {
            cursor: not-allowed;
            color: $disabled;
            &:hover{
                color: $disabled;
                background: transparent;
            }
        }
        &-selected{
            color: $highlight;
        }
        &-icon{
            float: right;
            font-weight: 500;
        }
    }
}
