.demo-dropdown-list{
    .cmr-dropdown{
        margin-right: 16px;
        &-menu-item{
            white-space: nowrap;
        }
    }
}

.demo-dropdown-grid{
    .cmr-col{
        text-align: center;
    }
    .cmr-row{
        margin-bottom: 12px;
    }
}